    <!-- common -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=750, user-scalable=no">

    <!-- SEO : search engine optimization -->
    <meta name="description" content="사이트설명">
    <meta name="keywords" content="사이트검색키워드">
    <meta name="author" content="ShinyJ">

    <!-- OG : opengraph -->
    <meta property="og:title" content="공유제목">
    <meta property="og:description" content="공유설명">
    <meta property="og:image" content="공유이미지 800x400">

    <!-- theme, favicon -->
	<link rel="shortcut icon" href="/assets/images/favicon.ico">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap">

    <!-- title -->
    <title>SIMPLIZM</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- Javascript -->
    <script src="/assets/js/jquery-3.4.0.min.js"></script>